@import "../scss/color";
@import "../scss/mixin";

#Latest_blog_post {



    @media screen and (min-width: 0px) and (max-width: 412px) {
        & .container {
            display: grid;
            flex-direction: column;
            margin: auto;
            & .avatar_name {
               @include avatar_name;

            }
            & .avatar_name1 {
                @include avatar_name;

            }
            & .avatar_name2 {
                @include avatar_name;

            }
            & li:last-child {
                background-color: $backColor;
                height: 45vw;
                padding: 10vw;
                & p {
                   font-size: 4vw;
                   color: $color-txt
                }
                & h3 {
                    padding-top: 3vw;
                    padding-bottom: 4vw;
                    font-size: 5vw;
                    color: $color-white
                }
            }
            & .avatar_name {
                
               @include avatar_name2;
            }
            & .avatar_name1 {
                
               @include avatar_name2;
            }
            & .avatar_name2 {
              
                @include avatar_name2;
            }
        }
    }
    @media screen and (min-width: 412px) {
        
    }

}