.color-white {
  color: white;
}

.color-gray {
  color: darkgray;
}

.bg-black {
  background: #222222;
}

footer ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
footer ul li {
  position: relative;
}
footer ul div.rounded {
  background: #f60b0e;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: -20px;
  visibility: hidden;
}
footer ul a {
  text-decoration: none;
}

.footer-container {
  display: flex;
  justify-content: space-around;
}

footer p {
  padding: 10px;
}

footer ul li {
  padding: 10px;
}

.center {
  text-align: center;
}

.monserat {
  font-family: "Montserrat";
}

.hind {
  font-family: "Hind";
}

.social {
  width: 25%;
}

.social ul {
  padding: 0;
  margin: 0;
}

.social ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.social li {
  width: 20px;
  height: 20px;
  margin: 10px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  transition: all 1s ease;
}
.social li:hover {
  background: red;
}
.social li i {
  width: 100%;
}

p span {
  transition: all 1s ease-in;
}

p span:hover {
  color: red;
}

.Working ul li {
  display: flex;
  justify-content: space-between;
}
.Working span {
  display: block;
}

.line {
  height: 2px;
  width: 45px;
  background: red;
  align-self: center;
  margin-left: 10px;
}

.subtitle {
  display: flex;
}

@media only screen and (max-width: 412px) {
  body {
    background-color: chocolate;
  }
  .footer-container {
    display: block;
    padding: 30px;
  }
  .footer-container section:first-child {
    margin-top: 50px;
  }
  .Working li {
    display: grid;
    grid-template-columns: auto auto;
  }
}
.social ul {
  display: grid;
  grid-template-columns: auto auto auto;
}

@media screen and (min-width: 412px) and (max-width: 768px) {
  p, li {
    font-size: 14px;
  }
  h2 {
    font-size: 14px;
  }
  .footer-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2em;
    padding: 7%;
  }
  .social ul {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  .Working ul li {
    display: flex;
    justify-content: space-around;
  }
}
.tags {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
}
.tags a {
  margin: 12px;
  padding: 20px;
  color: white;
  background: black;
  border-radius: 15px;
  text-decoration: none;
  transition: all 1s ease-in-out;
}
.tags a:hover {
  background: orangered;
}

.rooms {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}

.articles {
  width: 200px;
  height: 300px;
  padding: 20px;
}

.positionnement {
  position: relative;
  top: 200px;
}

.test {
  position: relative;
  top: 200px;
  display: flex;
  justify-content: space-around;
}

.test1 {
  position: relative;
  top: 100px;
}

.pageNavigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
.pageNavigation ul li {
  color: white;
  padding: 10px;
  background: red;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
  margin: 2px;
}

@media screen and (max-width: 412px) {
  .rooms {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    gap: 20px;
  }
}
@media screen and (min-width: 412px) and (max-width: 768px) {
  .rooms {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .rooms {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 20px;
  }
}
.heading {
  position: relative;
  font-size: 4rem;
  top: 250px;
  left: 40px;
}

.line-white {
  height: 4px;
  width: 40px;
  background: white;
  margin: 10px;
  transition: all 1s ease-in-out;
  cursor: pointer;
}
.line-white:hover {
  width: 80px;
}

.container-line {
  position: relative;
  width: 50px;
  left: 95%;
}

.container {
  list-style: none;
  padding: 0;
}
.container li {
  padding: 10px;
  border-bottom: 1px solid gray;
}

.grille-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.grille-container-items {
  padding: 20px;
  text-align: center;
}

.position-fixe {
  width: 1000px;
  margin: auto;
}

.d-flex-start {
  display: flex;
  justify-content: flex-start;
}

.other {
  width: 200px;
  height: 300px;
  position: relative;
  padding: 20px;
  margin: 15px;
}

#otherRooms {
  border: 2px solid red;
  width: 1000px;
  height: 400px;
  overflow: hidden;
}

.calendar {
  width: 800px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.calendar div {
  height: 100px;
  width: 100px;
  background-color: dimgray;
  color: white;
  border: 1px solid gray;
}

.middle {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.icon {
  margin-right: 10px;
}

.d-flex {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
