
@import url('https://fonts.googleapis.com/css2?family=Hind&family=Montserrat&display=swap');

@import'./_variables.scss';
@import'./_reset.scss';


 
#navbar {
    background-color: #1b1b1bab;
    color: $NAV_FONT;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $PARAGRAPHS;
    width: 100%; //1536px;
    height: 72px; 
}

.logo{
    width: 12%; //196px; //8wv;
    height: 100% //auto;
    img {
        width: 100%;
        height: auto;
    }
}

.liens {
    width: 40%;
    height: auto; 
    display: flex;
    list-style-type: none;
    gap: 2rem;

    li {
        font-size: $BIG_SCREENS_P;
        text-transform: lowercase;
    }
    a:hover{
        color: #fff;
    }
}
.emtpy {
    width: 23%;
    height: auto;
} 

.bouttons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $BIG_SCREENS_P;
    width: 25%;
    gap: 1rem;

    .book-now {
        border: 2px solid $NAV_FONT;
        padding: 7px 28px;
        border-radius: 30px;
        color: #fff;
        text-transform: capitalize;
    }

    .icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .vl {
            width: 1px;
            height: 1em;
            background-color: #7e7e7e;
            margin: 0 1em;
        }
    }
    .sign-in {
        text-transform: uppercase;
        color: #eeeeee;
        
    }
}



// || RESPONSIVE
    
    // Mobile
@media only screen and (min-width: 412px){

}
    // Tablet
@media only screen and (min-width: 768px) {

}
    // Desktop
@media only screen and (min-width: 1920px){

}