
@import url('https://fonts.googleapis.com/css2?family=Hind&family=Montserrat&display=swap');

@import'./_variables.scss';
@import'./_reset.scss';

:root{
    
    --navHeight: 72px;
}

// || RESPONSIVE
    
    // Mobile
@media only screen and (max-width: 768px){
    #navbar {
        background-color: #1b1b1b;
        color: rgb(241, 241, 241);
        list-style-type: none;
        font-family: $PARAGRAPHS;
        width: 68%;
        margin: 0 1em;
        border: 1px solid #000;
    }

    .logo {
        display: none;
    }

    .liens {
        width: 100%;
        height: auto;
        display: block;

        li {
            height: var(--navHeight);
            width: 100%;
            display: flex;
            padding: 0 2em;
            border-bottom: 1px solid #3a3a3a;
            align-items: center;
            
            a {
                width: 100%;
                margin: auto;
            }
            &:hover {
                color: white;
            }
        }
    }

    .empty {
        display: none;
    }

    .bouttons {

        display: flex;
        align-items: center;
        height: var(--navHeight);
        border-bottom: 1px solid #7e7e7e;
        padding: 0 2em;
        gap: 1em;

        .book-now, .fa-magnifying-glass, .vl {
            display: none;
        }

        .sign-in {
            text-transform: capitalize;

        }
    }
}
    // Tablet
@media only screen and (min-width: 768px) {

    #navbar {
        background-color: #1b1b1bab;
        color: $NAV_FONT;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $PARAGRAPHS;
        width: 100%; //1536px;
        height: var(--navHeight); 
    }
    
    .logo{
        width: 12%; //196px; //8wv;
        height: 100% //auto;
        img {
            width: 100%;
            height: auto;
        }
    }
    
    .liens {
        width: 40%;
        height: auto; 
        display: flex;
        list-style-type: none;
        gap: 2rem;
    
        li {
            font-size: $BIG_SCREENS_P;
            text-transform: lowercase;

            .fa-plus{
                display: none;
            }
        }
        a:hover{
            color: #fff;
        }
    }
    .emtpy {
        width: 23%;
        height: auto;
    } 
    
    .bouttons {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $BIG_SCREENS_P;
        width: 25%;
        gap: 1rem;
    
        .book-now {
            border: 2px solid $NAV_FONT;
            padding: 7px 28px;
            border-radius: 30px;
            color: #fff;
            text-transform: capitalize;
        }
    
        .icons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .vl {
                width: 1px;
                height: 1em;
                background-color: #7e7e7e;
                margin: 0 1em;
            }
        }
        .sign-in {
            text-transform: uppercase;
            color: #eeeeee;
            
        }
    }
    
    
}
    // Desktop
@media only screen and (min-width: 1920px){

    #navbar {
        background-color: #1b1b1bab;
        color: $NAV_FONT;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $PARAGRAPHS;
        width: 100%; //1536px;
        height: var(--navHeight); 
    }
    
    .logo{
        width: 12%; //196px; //8wv;
        height: 100% //auto;
        img {
            width: 100%;
            height: auto;
        }
    }
    
    .liens {
        width: 40%;
        height: auto; 
        display: flex;
        list-style-type: none;
        gap: 2rem;
    
        li {
            font-size: $BIG_SCREENS_P;
            text-transform: lowercase;
        
            .fa-plus{
                display: none;
            }
        
        }


        a:hover{
            color: #fff;
        }
    }
    .emtpy {
        width: 23%;
        height: auto;
    } 
    
    .bouttons {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $BIG_SCREENS_P;
        width: 25%;
        gap: 1rem;
    
        .book-now {
            border: 2px solid $NAV_FONT;
            padding: 7px 28px;
            border-radius: 30px;
            color: #fff;
            text-transform: capitalize;
        }
    
        .icons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .vl {
                width: 1px;
                height: 1em;
                background-color: #7e7e7e;
                margin: 0 1em;
            }
        }
        .sign-in {
            text-transform: uppercase;
            color: #eeeeee;
            
        }
    }
    
    
}