@import url("https://fonts.googleapis.com/css2?family=Hind&family=Montserrat&display=swap");


:root {
--HEADINGS: Montserrat, sans-serif;
--PARAGRAPHS: Hind, sans-serif;
--BIG_SCREENS_H1: 120px;
--BIG_SCREENS_H2: 44px;
--BIG_SCREENS_H3: 32px;
--BIG_SCREENS_P: 16px;
--BIG_SCREENS_smaller_text: 11px;
--MOBILE_H1: 32px;
--MOBILE_H2: 19px;
--MOBILE_H3: 21px;
--MOBILE_P: 14px;
--MOBILE_smaller_text: 10px;
--RED: #F60B0E;
--DARKEST_BG: #1B1B1B;
--WHITE_BG: #fefefe;
--GLOBAL_FONT: #717171;
--NAV_FONT: #777;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    font-family: Montserrat, sans-serif;
}

p, div, span, i {
    font-family: Hind, sans-serif;
}

.page-heading__title {
    text-transform: lowercase;
    color: var(--WHITE_BG);
}

a {
    text-decoration: none;
    color: var(--WHITE_BG);
}

.justify-content-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    background-image: url(./Contacts_header_bg-image.jpg);
    background-size: cover;
}

.dot {
    font-size: 15vw;
    color: var(--RED);
}

.post-page {
    color: var(--GLOBAL_FONT);
}



@media only screen and (max-width: 412px) {
    header {
        min-height: 40vh;
        min-width: 100%;
    }

    .page-heading__title {
        font-size: var(--MOBILE_H2);
    }
}

@media screen and (min-width: 412px) and (max-width: 768px){
    header {
        min-height: 40vh;
        min-width: 100vw;
    }
    .page-heading__title {
        font-size: var(--BIG_SCREENS_H2);
    }
}

@media screen and (min-width: 768px) and (max-width: 1920px) {
    header {
        min-height: 70vh;
        min-width: 100vw;
    }
    .page-heading__title {
        font-size: var(--BIG_SCREENS_H2);
    }
}

