.heading{
    position: relative;
    font-size: 4rem;
    top: 250px;
    left: 40px;
}

.line-white{
    height: 4px;
    width: 40px;
    background: white;
    margin:10px ;
    transition: all 1s ease-in-out;
    cursor: pointer;
    &:hover{
        width: 80px;
    }
}

.container-line{
    position: relative;
    width: 50px;
   
    left: 95%;
}

.container{
    list-style: none;
    padding: 0;
    & li {
        padding: 10px ;
        border-bottom: 1px solid gray ;
    }
   
}

.grille-container{
  
    display: grid;
    grid-template-columns: auto auto auto;
  
}

.grille-container-items{
    padding: 20px;
    text-align: center;
}   
.position-fixe{
    width: 1000px;
    margin: auto;
}
.d-flex-start{
    display: flex;
    justify-content: flex-start
}
.other{
    width: 200px;
    height: 300px;
   position: relative;
    padding: 20px;
    margin: 15px;

}

#otherRooms
{
    border:2px solid red;
    width: 1000px;
    height: 400px;
    overflow: hidden;
 
}
.calendar{
    width: 800px;
    margin: auto;
    display:flex ;
    flex-wrap: wrap;

}
.calendar div{
    height: 100px;
    width: 100px;
    background-color: dimgray;
    color: white;
    border: 1px solid gray;
}

.middle{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.icon{
    margin-right: 10px;
}
.d-flex{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}